{% extends "base.html" %}
{% block title %}Chart Test{% endblock %}
{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='render_chart.js') }}"></script>
{% endblock %}
{% block content %}
    <style>
      #custom-container {
        max-width: 800px; /* Set your desired maximum width */
        margin: 0 auto; /* Center the container horizontally */
      }
    </style>
    <div class="container" id="custom-container">
        <canvas id="myChart"></canvas>
    </div>
    <div class="container" id="custom-container">
        <canvas id="multiRadarChart"></canvas>
    </div>
<script>
radarEmotionCategories('myChart')
//render_latest_radar('Emotion score', 'myChart')
</script>
{% endblock %}
