{% extends "base.html" %}
{% block title %}Chart Test{% endblock %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="myChart" style="width:500px;height:500px;"></div>
    </div>
{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='render_chart.js') }}"></script>