{% extends "base.html" %}
{% block title %}Chart Test{% endblock %}
{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='render_chart.js') }}"></script>
{% endblock %}
{% block content %}
    <style>
      #custom-container {
        max-width: 800px; /* Set your desired maximum width */
        margin: 0 auto; /* Center the container horizontally */
      }
    </style>
    <div class="container" id="custom-container">
        <canvas id="myChart"></canvas>
    </div>
<script>
	const label_test = [
	    'Eating',
	    'Drinking',
	    'Sleeping',
	    'Designing',
	    'Coding',
	    'Cycling',
	    'Running'
	  ]
	const data_test = [65, 59, 90, 81, 56, 55, 40]
	
	createRadarChart(label_test, data_test, 'Example radar chart', 'myChart')
</script>
{% endblock %}
