{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="container">
	<!-- Callout	-->
	<div class="callout callout-danger">
	  <h4>WIP - Need feedback</h4>
		<h5>Things I am thinking about...</h5>
			  <ul>
				  <li>If I simply told you the concept of an 'emotion compass' what do you think about?</li>
				  <li>How can I explain this app/concept succinctly? In a more visual manner with less reliance on
				      text?</li>
				  <li>With limited investment in UX engineering, how can I make this more appealing?</li>
			  </ul>
	    <h5>Working on...</h5>
			  <ul>
				  <li>Ability to add personal notes/rating to a result entry?</li>
				  <li>Get historical analysis ex: # of times emotion occurred, a calendar heatmap for
				      positive/negative days, trend analysis, etc.</li>
			  </ul>
	</div>
</div>
<div class="container">
	<!-- Website landing phrase	-->
	<div class="container-fluid mb-3">
        <h1 class="text-center">Emotional Compass</h1>
        <h2 class="text-center">Cultivate your emotional awareness with an ML-powered feedback system</h2>
    </div>
	<!-- Explaining the website	-->
	<div class="accordion mb-5" id="accordionExample">
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	        What is an Emotional Compass?
	      </button>
	    </h2>
	    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
	      <div class="accordion-body">
			<p>I've developed a website designed to assist you in uncovering and helping you refine how you express
			   your emotions. Emotions are messy and complex - and sometimes it's hard to know what's going on.</p>
			<p>You can share your thoughts or describe a situation. Using a machine learning model, your text is scored for various emotions (describe a bit more about the emotion taxonomy?). You can think of the results as an emotion compass.</p>
			<p>This unique feature aims to help you gain a clearer understanding of your feelings, providing a valuable reference point for self-reflection and emotional exploration.</p>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        What is a Feelings Wheel?
	      </button>
	    </h2>
	    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body">
		      <p>A feelings wheel is a visual tool designed to help individuals identify and articulate their emotions with greater precision. It typically consists of a central emotion category, such as "anger" or "joy," which then branches out into more specific feelings within that category. The wheel provides a hierarchical structure, allowing users to navigate through layers of emotions to pinpoint their current emotional state accurately.</p>
				<ul>
		        <li>Enhances emotional intelligence by helping us recognize and understand our emotions</li>
		        <li>Makes it easier for us to precisely communicate the state of our feelings, contributing to
		            healthier interpersonal relationships.</li>
		        <li>Supports the development of healthier coping mechanisms through a nuanced understanding of emotions.</li>
				</ul>
		      <div id="feeling-wheel-img" style="max-width: 500px">
			      <p>Here is an example of a traditional feelings wheel:</p>
		          <img src="https://feelingswheel.com/feelings-wheel.jpg" alt="feeling wheel image" style="max-width: 500px">
		      </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Input form	-->
	<div class="mb-3">
	  <form method="post" action="{{ url_for('processed_emotion') }}">
	    <label for="instruction_text" class="form-label" ></label>
	    <!-- Restrict form length to 1600 to prevent transformer overflow in the function. The model cannot
	    support excessive string length -->
	    <textarea class="form-control" id="instruction_text" name="input_text" rows="5" maxlength="1600"
	              placeholder="Use the next 1500 characters to capture your thoughts and feelings."></textarea>
	    <button type="submit" class="btn btn-primary mt-3" >Submit</button>
	  </form>
	</div>
</div>
{% endblock %}
