{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="container">
	<!-- Website landing phrase	-->
	<div class="container-fluid mb-3">
        <h1 class="text-center">Emotional Compass</h1>
        <h2 class="text-center">Cultivate your emotional awareness with an ML-powered feedback system</h2>
    </div>
	<!-- Explaining the website	-->
	<div class="accordion mb-3" id="accordionExample">
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
	              aria-expanded="true" aria-controls="collapseOne">
	        What is an Emotional Compass? - Placeholder?
	      </button>
	    </h2>
	    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body">
			<p>I've developed a website designed to assist you in uncovering and helping you refine how you express
			   your emotions. Emotions are messy and complex - and sometimes it's hard to know what's going on. This can serve as your starting point and a working emotional log</p>
			<ol>
				<li>Write your emotional experience in detail.</li>
				<li>Utilize an advanced machine-learning algorithm to determine an initial emotional starting point.</li>
				<li>Upcoming - Engage in reflection on your emotional experiences, document your feelings, and record personal reflections.</li>
				<li>Upcoming - Access personalized therapeutic exercises designed according to your current emotional state.</li>
			</ol>
			<p>Your data is always yours. Information is only stored in your browser's storage and nowhere else.</p>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item">
	    <h2 class="accordion-header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        What is a Feelings Wheel? 
	      </button>
	    </h2>
	    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      <div class="accordion-body bg-light-subtle">
		      <p>A feelings wheel is a visual tool designed to help individuals identify and articulate their emotions with greater precision. It typically consists of a central emotion category, such as "anger" or "joy," which then branches out into more specific feelings within that category. The wheel provides a hierarchical structure, allowing users to navigate through layers of emotions to pinpoint their current emotional state accurately.</p>
				<ul>
		        <li>Enhances emotional intelligence by helping us recognize and understand our emotions</li>
		        <li>Makes it easier for us to precisely communicate the state of our feelings, contributing to
		            healthier interpersonal relationships.</li>
		        <li>Supports the development of healthier coping mechanisms through a nuanced understanding of emotions.</li>
				</ul>
		      <div id="feeling-wheel-img" style="max-width: 500px">
			      <p>Here is an example of a traditional feelings wheel:</p>
		          <img src="https://feelingswheel.com/feelings-wheel.jpg" alt="feeling wheel image" style="max-width: 500px">
		      </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Input form	-->
	<div class="mb-3">
	  <form method="post" action="{{ url_for('processed_emotion') }}">
	    <label for="instruction_text" class="form-label" ></label>
	    <!-- Restrict form length to 1600 to prevent transformer overflow in the function. The model cannot
	    support excessive string length -->
	    <textarea class="form-control" id="instruction_text" name="input_text" rows="5" maxlength="1600"
	              placeholder="Use this text area to capture your thoughts and feelings. (~300 words or less)"></textarea>
	    <button type="submit" class="btn btn-primary mt-3" >Submit</button>
	  </form>
	</div>
</div>
{% endblock %}
