{% extends "base.html" %}
{% block title %} Processed entry {% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<!-- Machine-learning model results-->
<div class="container border border-secondary rounded mb-3" id="chart_displays" >
	<h3 class="py-3">Machine-learning detected results</h3>
	<div class="row justify-content-center">
		<div class="col-sm" id="custom-container" style="max-width: 400px">
          <canvas id="radarEmotionCategories"></canvas>
		</div>
      <div class="col-sm" id="custom-container2" style="max-width: 400px">
          <canvas id="detailedRadar"></canvas>
      </div>
	</div>
	<!-- Results printout -->
	<div class="text-center">
		<button class="btn btn-secondary my-2" type="button" data-bs-toggle="collapse"
		        data-bs-target="#raw_results_output"
		  aria-expanded="false" aria-controls="collapseExample">See raw scores</button>
	</div>
	<div class="container collapse my-3" id="raw_results_output">
		<div class="card card-body" id="raw_results">
	    <ul>
	        {% for result in emotion_results %}
	            {% if result.get("filter") == True %}
	                <li>
	                    {{ result.get("emotion")|capitalize }} ({{ result.get("definition")}}) presence detected with a score of
	                    <b>{{result.get("score")|round(2)}}</b>
	                </li>
	            {% endif %}
	        {% endfor %}
	    </ul>
	    <p>All values <b><{{ filtering_threshold }} </b> have been filtered.</p>
		</div>
	</div>
	<!-- Original user input-->
	<div class="container" id="text_input">
		<p id="inputText" >{{ input_text }}</p>
	</div>
</div>
<!-- Save results into local storage script -->
<script>
	function saveResult(){
        <!-- Write in submitted values to local storage. Keep as local script to pass in results -->
        document.addEventListener('DOMContentLoaded', function()
        {
            let key_name = new Date().getTime();
            let input_text = document.getElementById('inputText').innerText;
            let emotion_results = {{ emotion_results|tojson }};
            let timestamp = new Date().toISOString();
            
            let jsonObject = {
                keyName: key_name,
                emotionResults: emotion_results,
                inputText: input_text,
                timestamp: timestamp
            };
    
        // Storing data in localStorage
        try {
            let jsonString = JSON.stringify(jsonObject);
            localStorage.setItem(key_name, jsonString);
            
            // Success message
            console.log("Wrote submission entry to local storage");
            console.log(jsonObject)
            renderCharts() // Callback function
        } catch (error) {
            // Error message if storing fails
            console.error("Failed to save submission to local storage", error);
        }
        });
	}

    function renderCharts(){
        latest_emotion_result = retrieveLatestEmotionObject() //Executes after writing in the value?
        radarDetailed(latest_emotion_result, 'detailedRadar')
        radarEmotionCategories(latest_emotion_result, 'radarEmotionCategories')
    }

	saveResult()
</script>
<!--	Ask user to begin investigating their emotion   -->
<div class="container my-3" id="feelings_prompt">
	<div class="py-3" id="human_friendly_emotion_result">
		<h5>Am I experiencing a sense of...</h5>
	        {% for result in emotion_results %}
	            {% if result.get("filter") == True and result.get("emotion") != "neutral" %}
		                <li>
		                    <b>{{ result.get("emotion")|capitalize }}?</b> {{ result.get("definition")}}
		                </li>
					<!-- Any other emotions -->
	            {% endif %}
	        {% endfor %}
	</div>
	<div id="additional_resources">
		<p>Here are some list of additional resources to find other words to describe your emotional experience --
		   Placeholder</p>
		<li><a
			href="https://brenebrown.com/wp-content/uploads/2023/05/Atlas-Resources_02_List-of-Emotions_FeaturedCover.png">Atlas of the Heart</a></li>
		<li><a href="https://tomdrummond.com/wp-content/uploads/2019/11/Emotion-Feelings.pdf">Emotion dictionary</a></li>
	</div>
</div>

<!--Ask for user to reflect-->
<div class="container p-3" id="user_reflection">
	<div id="saveAlertPlaceholder"></div>
	<div class="input-group">
		<textarea class="form-control" id="user_reflection_text" name="input_text" rows="5"
			              placeholder="(Placeholder) Write down additional thoughts such as bodily sensations, etc."></textarea>
	</div>
	<button type="submit" id="saveButton" class="btn btn-primary mt-3"
	        onclick="saveUserReflection('user_reflection_text')" >Save
	personal note</button>
</div>
<script>
	// When user clicks button to save their free response comments, append it to our stored object
	function saveUserReflection(target_element) {
	  const user_reflection_comment_element = document.getElementById(target_element);
	
	  if (user_reflection_comment_element) {
	    const user_reflection_comment = user_reflection_comment_element.value;
	
	    let updated_entry = retrieve_latest_entry();
	
	    if (updated_entry && typeof updated_entry === 'object' && 'keyName' in updated_entry) {
	      updated_entry['userReflection'] = user_reflection_comment;
	
	      // Update the existing local_storage key with the newly updated object
	      let key_name = updated_entry.keyName;	
	      let jsonString = JSON.stringify(updated_entry);
	      localStorage.setItem(key_name, jsonString);
	    } else {
	      console.error('Error: retrieve_latest_entry did not return a valid object with keyName property.');
	    }
	  } else {
	    console.error(`Element with ID '${target_element}' not found.`);
	  }
	}

	// Triggers message alert after user clicks save
	alertTrigger('saveAlertPlaceholder', 'saveButton', 'Personal note has been saved.', 'success')
</script>
<div class="container">
<button type="button" class="btn btn-secondary" onclick="window.location.href='/results'">Go to History</button>
</div>
{% endblock %}
